# Jenkins 专属配置
JENKINS_PORT=8090
JENKINS_AGENT_PORT=50000
JENKINS_ADMIN_USER=admin
JENKINS_ADMIN_PASSWORD=changeme
JENKINS_IMAGE=jenkins/jenkins:lts-jdk17
JENKINS_MEMORY_LIMIT=2g
JENKINS_CI_JOB_NAME=q-ci-build
JENKINS_TEMPLATE_REPO_URL=https://github.com/richer421/q-jenkins-templates.git
JENKINS_TEMPLATE_REPO_BRANCH=main
JENKINS_TEMPLATE_REPO_CREDENTIALS_ID=q-paas-github
JENKINS_TEMPLATE_GITHUB_USERNAME=
JENKINS_TEMPLATE_GITHUB_TOKEN=
JENKINS_SOURCE_GIT_USERNAME=
JENKINS_SOURCE_GIT_TOKEN=
HARBOR_REGISTRY_USERNAME=
HARBOR_REGISTRY_PASSWORD=

# JCasC 配置路径（容器内）
CASC_JENKINS_CONFIG=/var/jenkins_home/casc_configs
